{% load staticfiles %}
<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>{% block title %}登录{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-switch.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/checkbox3.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/css/select2.min.css' %}">
    <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.7.1.min.js' %}"></script>
    {% block top %}
        <link rel="stylesheet" href="{% static 'css/css.css' %}" type="text/css" />
    {% endblock %}
	</head>

	<body>

    {% block boday %}

    {% endblock %}
    {% block load_script %}
            <script type="text/javascript" src="{% static 'lib/js/jquery.min.js'  %}"></script>
            <script type="text/javascript" src="{% static 'lib/js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'lib/js/Chart.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'lib/js/bootstrap-switch.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'lib/js/jquery.matchHeight-min.js' %}"></script>
            <script type="text/javascript" src="{% static 'lib/js/jquery.dataTables.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'lib/js/dataTables.bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'lib/js/select2.full.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'lib/js/ace/ace.js' %}"></script>
            <script type="text/javascript" src="{% static 'lib/js/ace/mode-html.js' %}"></script>
            <script type="text/javascript" src="{% static 'lib/js/ace/theme-github.js' %}"></script>

    {% endblock %}
    {% block model_script %}
        <script src="{% static 'part/js/particles.js' %}"></script>
        <script src="{% static 'part/js/app.js' %}"></script>
    {% endblock %}
    {% block script %}

    {% endblock %}
 </body>
</html>

