{% extends 'common/base.html' %}
{% load staticfiles %}
{% block top %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/themes/flat-blue.css' %}">
{% endblock %}
{% block title %}用户首页{% endblock %}
{% block boday %}
    <div class="flat-blue">
        <div class="app-container">
            <div class="row content-container">
                {% include 'common/nav.html' %}
                {% include 'common/sidebar.html'  %}
                <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >免费网站模板</a></div>
                <!-- Main Content -->
                <div class="container-fluid">
                    <div class="side-body padding-top">
                        <div class="row  no-margin-bottom">
                            <div class="col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="card primary">
                                            <div class="card-jumbotron no-padding">
                                                <canvas id="jumbotron-line-chart" class="chart no-padding"></canvas>
                                            </div>
                                            <div class="card-body half-padding">
                                                <h4 class="float-left no-margin font-weight-300">利润</h4>
                                                <h2 class="float-right no-margin font-weight-300"></h2>
                                                <div class="clear-both"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="thumbnail no-margin-bottom">
                                            <img src="{% static 'img/thumbnails/picjumbo.com_IMG_4566.jpg' %}" class="img-responsive">
                                            <div class="caption">
                                                <h3 id="thumbnail-label">最热产品<a class="anchorjs-link" href="#thumbnail-label"><span class="anchorjs-icon"></span></a></h3>
                                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="thumbnail no-margin-bottom">
                                            <img src="{% static 'img/thumbnails/picjumbo.com_IMG_4566.jpg' %}" class="img-responsive">
                                            <div class="caption">
                                                <h3 id="thumbnail-label">最热产品<a class="anchorjs-link" href="#thumbnail-label"><span class="anchorjs-icon"></span></a></h3>
                                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                <p><a href="#" class="btn btn-success" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="card primary">
                                            <div class="card-jumbotron no-padding">
                                                <canvas id="jumbotron-bar-chart" class="chart no-padding"></canvas>
                                            </div>
                                            <div class="card-body half-padding">
                                                <h4 class="float-left no-margin font-weight-300">Orders</h4>
                                                <div class="clear-both"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="card primary">
                                            <div class="card-jumbotron no-padding">
                                                <canvas id="jumbotron-line-2-chart" class="chart no-padding"></canvas>
                                            </div>
                                            <div class="card-body half-padding">
                                                <h4 class="float-left no-margin font-weight-300">Pages view</h4>
                                                <div class="clear-both"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-success">
                                    <div class="card-header">
                                        <div class="card-title">
                                            <div class="title"><i class="fa fa-comments-o"></i>修改记录</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                    <div class="card-body no-padding">
                                        <ul class="message-list">
                                            <a href="#">
                                                <li>
                                                    <img src="{% static 'img/profile/profile-1.jpg' %}" class="profile-img pull-left">
                                                    <div class="message-block">
                                                        <div><span class="username">修改人</span> <span class="message-datetime">12 min ago</span>
                                                        </div>
                                                        <div class="message">huntmiao添加了一个产品在XX时间点.</div>
                                                    </div>
                                                </li>
                                            </a>
                                            <a href="#" id="message-load-more">
                                                <li class="text-center load-more">
                                                    <i class="fa fa-refresh"></i> load more..
                                                </li>
                                            </a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="app-footer">
                <div class="wrapper">
                    <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2017 Copyright. More Templates <a href="" target="_blank" title="模板之家">东方女人</a>
                </div>
            </footer>
        </div>
</div>
{% endblock %}
{% block model_script %}
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(function(){
            var json_data = '{{ staff.staff_name }}';
            discount_chart(json_data)
        })
    </script>
{% endblock %}